<mat-card class="card-container">
  <mat-toolbar class="mat-container">
    <mat-toolbar-row class="mat-row">
      <h2 class="h2-home"> EDUARDO DA SILVA GOMES </h2>
      <span class="example-spacer"></span>
      <a mat-raised-button class="btn-home" href=""> Home <span class="btn-ho"></span> </a>
      <a mat-raised-button class="btn-home" href="projects"> Projects <span class="btn-ho"></span> </a>
      <a mat-raised-button class="btn-home" href="services"> Services <span class="btn-ho"></span> </a>
      <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Contact <span class="btn-ho"></span></a>

      <div class="group_a">
        <a mat-raised-button class="btn-home" href=""> Home <span class="btn-ho"></span> </a>
        <a mat-raised-button class="btn-home" href="projects"> Projects <span class="btn-ho"></span> </a>
        <a mat-raised-button class="btn-home" href="services"> Services <span class="btn-ho"></span> </a>
        <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Contact <span class="btn-ho"></span></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>
