mat-card {
  padding: 0;
  border-radius: 0;
}
.card-container {
  background-color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
  .mat-container {
    justify-content: center;

    .mat-row {
      display: flex;
      background-color: #006494;
      height: 12vh;
      justify-content: center;

      .h2-home {
        color: #fff;
      }

      .example-spacer {
        flex: 0.77;
      }

      .group_a {
        display: none;
      }
    }

    @media only screen and (max-width: 780px) {
      .mat-row {
        position: relative;
        flex-direction: column;
        height: 100px;

        .example-spacer {
          display: none;
        }

        .btn-home {
          display: none;
        }

        .group_a {
          display: flex;
          .btn-home {
            display: flex;
          }
        }
      }
    }

    .btn-home {
      margin: 10px;
      background-color: #006494;
      color: #fff;

      .btn-ho {
        display: none;
      }
    }
    .btn-home:hover {
      .btn-ho {
        display: block;
        background-color: #e8f1f2e0;
        height: 1px;
      }
    }
  }
}
