mat-card {
  padding: 0;
  border-radius: 0;
}
.home-container {
  .examplecard {
    display: flex;
    position: absolute;
    margin-top: 10vh;
    margin-left: 2vw;

    .photo {
      border-radius: 50%;
      width: calc(20vw);
      height: calc(20vw);
    }
  }
  .description {
    margin-left: 30px;
    font-size: larger;
    text-align: justify;
  }
}
