<mat-card-header class="card-container">
  <mat-toolbar class="mat-container">
    <mat-toolbar-row class="mat-row">
      <h2 class="h2-home"> EDUARDO DA SILVA GOMES </h2>
      <span class="example-spacer"></span>
      <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Home </a>
      <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Projects </a>
      <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Services </a>
      <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Contact </a>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-row-responsive-ext">
      <h2 class="h2-home"> EDUARDO DA SILVA GOMES </h2>
        <mat-toolbar-row class="mat-row-responsive-int">
          <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Home </a>
          <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Projects </a>
          <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Services </a>
          <a mat-raised-button class="btn-home" href="https://esfinance.netlify.app/" target="_blank"> Contact </a>
        </mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card-header>

