<div class="home-container">
  <app-navbar></app-navbar>
  <mat-card class="examplecard">
    <img class="photo" src="../../../assets/app.png" alt="Photo of Perfil">
    <div class="div-description">
      <mat-card-content class="description">
        {{office}}
        <div class="description1">{{description1}}</div>
        <div class="description2">{{description2}}</div>
      </mat-card-content>
    </div>
    <mat-card class="midias">
      <a class="btn-midia" href={{link_instagram}} target="_blank">
        <img src="../../../assets/icons/instagram.svg"></a>
      <a class="btn-midia" href={{link_github}} target="_blank">
        <img src="../../../assets/icons/github.svg"></a>
      <a class="btn-midia" href={{link_facebook}} target="_blank">
        <img src="../../../assets/icons/face.svg"></a>
      <a class="btn-midia" href={{link_linkedin}} target="_blank">
        <img src="../../../assets/icons/linkedin.svg"></a>
    </mat-card>
  </mat-card>
</div>
