mat-card {
  padding: 0;
  border-radius: 0;
}
.home-container {
  height: 100vh;
  display: flex;

  .effect_0 {
    height: 250px;
    width: 10px;
    margin-top: 400px;
    background-color: #006494;
    -webkit-transform: skew(20deg); 
    -ms-transform: skew(20deg);
    transform: skew(20deg);
  }

  .effect_1 {
    height: 350px;
    width: 30px;
    margin-top: 300px;
    background-color: #006494;
    -webkit-transform: skew(20deg); 
    -ms-transform: skew(20deg);
    transform: skew(20deg);
  }

  .effect_2 {
    height: 220px;
    width: 30px;
    margin-top: 650px;
    margin-left: -43px;
    background-color: #006494;
    -webkit-transform: skew(-35deg); 
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
  }

  .effect_3 {
    height: 120px;
    width: 10px;
    margin-top: 650px;
    margin-left: -23px;
    background-color: #006494;
    -webkit-transform: skew(-35deg); 
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
  }

  .details {
    display: flex;
    position: absolute;
    height: 300px;
    width: 250px;
    background-color: #006494;
    margin-top: 0px;
    border-radius:  0px 0px 0px 400px;
    right: 0px;
  }

  .examplecard {
    display: flex;
    position: absolute;
    margin-top: 150px;
    margin-left: 15rem;

    .photo {
      display: flex;
      position: relative;
      border-radius: 50%;
      width: calc(20vw);
      height: calc(20vw);
    }

    .div-description {
      display: flex;
      position: absolute;
      width: 40vw;
      margin-top: 5vh;
      margin-left: 20vw;

      .description {
        margin-left: 30px;
        color: #006494;
        font-size: xx-large;
        text-align: justify;
      }

      .description1 {
        margin-top: 5px;
        font-size: x-large;
      }

      .description2 {
        margin-top: 30px;
        color: #006494;
        font-size: large;
        text-align: justify;
      }
    }

    .midias {
      display: flex;
      position: absolute;
      width: 20vw;
      margin-top: 22vw;
      align-items: center;
      justify-content: center;

      img {
        margin: 0 20px 0 0;
      }

      .btn-midia:hover {
        height: 0;
      }
    }
  }

  @media only screen and (max-width: 780px) {
    .effect_0, .effect_1, .effect_2, .effect_3 {
      display: none;
    }
    .details {
      display: none;
    }
    .examplecard {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 30vw;
      margin-left: 0vw;

      .photo {
        display: flex;
        position: absolute;
        width: 160px;
        height: 160px;
        margin-top: 40vw;
      }

      .div-description {
        display: flex;
        width: 80vw;
        position: relative;
        margin-left: 0;
        justify-content: center;
        margin-top: 15vh;

        .description {
          margin-left: 0;
          display: flex;
          align-items: center;
          position: absolute;
          margin-top: 160px;
          font-size: 1.5rem;
          font-weight: 550;
          flex-direction: column;
        }
        .description1 {
          margin-top: 0px;
          font-size: 1.0rem;
          font-style: italic;
        }
        .description2 {
          padding: 20px;
          background-color: #006494;
          border-radius: 10px 30px 30px 1px;
          color: #fff;
          margin-top: 35px;
          font-size: 0.7rem;
        }
      }

      .midias {
        display: flex;
        position: absolute;
        margin-top: 100vw;

        img {
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
