<div class="pro-container">
  <app-navbar></app-navbar>
  <div class="detail0"></div>
  <div class="detail1"></div>
  <mat-card class="pro-card">
    <span class="pro-span"> Projetos Destaques </span>
  </mat-card>
  <div class="pro-div">
    <mat-card class="card_projects">
      <mat-card-header>
        <mat-card-title>CODEPLAY</mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{codeplay}} alt="x">
      <mat-card-content>
        <p class="p_space">
          Projeto de TCC, um jogo digital educativo que estimula o pensamento computacional.
        </p>
      </mat-card-content>
      <mat-card-actions class="btn-component">
        <a mat-button href="https://github.com/dududueedu/codeplay"
          target="_blank"> GitHub </a>
        <a mat-button href="https://qxdcodeplay.netlify.app/"
          target="_blank"> Acessar </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card_projects">
      <mat-card-header>
        <mat-card-title class="span-card"><span> CONTROLE FINANCEIRO </span></mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{finance_control}} alt="x">
      <mat-card-content>
        <p class="p_space">
          Aplicação que desenvolvi para auxiliar nas vendas da ES Acessórios.  
        </p>
      </mat-card-content>
      <mat-card-actions class="btn-component">
        <a mat-button href="https://github.com/dududueedu/controle-financeiro"
          target="_blank"> GitHub </a>
        <a mat-button href="https://esfinance.netlify.app/"
          target="_blank"> Acessar </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card_projects">
      <mat-card-header>
        <mat-card-title> CALCME </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{resume}} alt="x">
      <mat-card-content>
        <p class="p_space">
          Aplicação que desenvolvi para um desafio Fullstack na Empresa Calcme.
        </p>
      </mat-card-content>
      <mat-card-actions class="btn-component">
        <a mat-button href="https://github.com/dududueedu/usersystem"
          target="_blank"> GitHub </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card_projects">
      <mat-card-header>
        <mat-card-title> DIGIMUSICAL </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dgm}} alt="x">
      <mat-card-content>
        <p class="p_space">
          Desenvolvi um site para a Digimusical, empresa onde trabalho atualmente.
        </p>
      </mat-card-content>
      <mat-card-actions class="btn-component">
        <a mat-button href="https://github.com/dududueedu/digimusical"
          target="_blank"> GitHub </a>
        <a mat-button href="https://digimusical.netlify.app/"
          target="_blank"> Acessar </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
