<div class="pro-container">
  <app-home>
  </app-home>
  <mat-card class="card_projects">
    <mat-card-header>
      <mat-card-title>CODEPLAY</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{codeplay}} alt="x">
    <mat-card-content>
      <p>
        Um jogo digital educativo que estimula o pensamento computacional
        na elaboração de soluções de problemas
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button class="btn-component" href="https://github.com/dududueedu/codeplay"
        target="_blank"> GitHub </a>
      <a mat-button class="btn-component" href="https://qxdcodeplay.netlify.app/"
        target="_blank"> Demo </a>
    </mat-card-actions>
  </mat-card>
</div>
