.pro-container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .pro-card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;

    .pro-span {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 50px;
    }
  }

  .pro-div{
    display: flex;
    flex-direction: row;

    .card_projects {
      margin: 6vw 0vw 0vw 11vw;
      display: flex;
      position: relative;
      flex-direction: column;
      max-width: 220px;
      min-width: 80px;
      align-items: center;

      p {
        text-align: justify;
      }
      a {
        padding: 5px;
        background-color: #006494;
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .mat-card-header-text {
        margin: 0 0;
      }
    }
  }
  @media only screen and (max-width: 780px) {
    app-navbar {
      padding-bottom: 10px;
    }

    .pro-div {
      align-items: center;
      flex-direction: column;
      margin-top: 0px;

      .card_projects {
        margin: 0;
      }
    }

    .pro-card {
      margin-top: 0vh;
    }
  }
}
