<div class="pro-container">
  <app-navbar></app-navbar>
  <mat-card class="pro-card">
    <span class="pro-span"> Projetos Destaques </span>
  </mat-card>
  <div class="pro-div">
    <mat-card class="card_projects">
      <mat-card-header>
        <mat-card-title>CODEPLAY</mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{codeplay}} alt="x">
      <mat-card-content>
        <p>
          Um jogo digital educativo que estimula o pensamento computacional
          na elaboração de soluções de problemas
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button class="btn-component" href="https://github.com/dududueedu/codeplay"
          target="_blank"> GitHub </a>
        <a mat-button class="btn-component" href="https://qxdcodeplay.netlify.app/"
          target="_blank"> Demo </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card_projects">
      <mat-card-header>
        <mat-card-title class="span-card"><span> CONTROLE FINANCEIRO </span></mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{finance_control}} alt="x">
      <mat-card-content>
        <p>
          Um sistema de controle financeiro que desenvolvi para usar no dia a dia
          na minha lojinha de acessórios
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button class="btn-component" href="https://github.com/dududueedu/controle-financeiro"
          target="_blank"> GitHub </a>
        <a mat-button class="btn-component" href="https://esfinance.netlify.app/"
          target="_blank"> Demo </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card_projects">
      <mat-card-header>
        <mat-card-title> CALCME </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{resume}} alt="x">
      <mat-card-content>
        <p>
          Uma aplicação desenvolvida para um desafio fullstack, envolvendo AngularJS no frontend
          e Java com SpringBoot no backend
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button class="btn-component" href="https://github.com/dududueedu/usersystem"
          target="_blank"> GitHub </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
