.pro-container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .pro-card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 20px;

    .pro-span {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 40px;
      color: #006494;
    }
  }

  .pro-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card_projects {
      margin: 4px 0 0 0;
      display: flex;
      position: relative;
      flex-direction: column;
      height: 350px;
      max-width: 350px;
      min-width: 80px;
      align-items: center;
      justify-content: center;
      background-color: #006494;
      border-radius: 20px;

      .span-card {
        width: 200px;
      }

      p {
        text-align: justify;
        color: #fff;
      }
      a {
        padding: 5px;
        background-color: #fff;
        color: #006494;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .mat-card-header-text {
        margin: 0 0;
      }
      .mat-card-title {
        color: #fff;
      }
      .mat-card-image {
        width: 220px;
      }
    }
  }
  @media only screen and (max-width: 780px) {
    app-navbar {
      padding-bottom: 10px;
    }

    .pro-div {
      align-items: center;
      flex-direction: column;
      margin-top: 0px;

      .card_projects {
        margin: 0 0 20px 0;
      }
    }

    .pro-card {
      margin-top: 0vh;
    }
  }
}
