<div class="services-container">
  <app-navbar></app-navbar>
  <div class="label">MEUS<div class="m-internal">SERVIÇOS</div></div>
  <mat-card class="examplecard">
    <div class="mini-card">
      <div class="span-dev"><span> DESENVOLVIMENTO DE SOFTWARE </span></div>
      <div class="divimg">
        <img src="./../../../assets/icons/pc.svg">
      </div>

      <div class="info">
        <p> Atuo no desenvolvimento de aplicações, sites e microserviços. Para isso é importante definir um modelo
          de desenvolvimento para obter um software de qualidade, maneira eficiente e colaborativa. </p>
      </div>
    </div>

    <div class="mini-card">
      <span> GRÁFICA RÁPIDA </span>
      <div class="divimg">
        <img src="./../../../assets/icons/grafic.svg">
      </div>

      <div class="info">
        <p> Presto serviços como xeróx, impressões, plastificações e arte gráfica. Um pouco desse trabalho pode ser visto em:
          <a href="https://www.instagram.com/es_acessor.ios/" target="_blank">
            instagram
          </a>
        </p>
      </div>
    </div>

    <div class="mini-card">
      <span> AULAS DE MÚSICA </span>
      <div class="divimg">
        <img src="./../../../assets/icons/music.svg">
      </div>

      <div class="info">
        <p> Sou multi-instrumentista, outra habilidade que possuo. Já tive algumas bandas e
          já dei aulas de violão, guitarra e teclado. Atualmente trabalho na 
          <a href="https://www.instagram.com/digi.musical/" target="_blank">
            Digimusical</a>. Onde vendemos diversos equipamentos e acessórios para instrumentos musicais.
        </p>
      </div>
    </div>
  </mat-card>
</div>
