<div class="services-container">
  <app-navbar></app-navbar>
  <mat-card class="examplecard">
    <div class="mini-card">
      <div class="span-dev"><span> DESENVOLVIMENTO DE SOFTWARE </span></div>
      <div class="divimg">
        <img src="./../../../assets/icons/pc.svg">
      </div>
    </div>

    <div class="mini-card">
      <span> GRÁFICA RÁPIDA </span>
      <div class="divimg">
        <img src="./../../../assets/icons/grafic.svg">
      </div>
    </div>

    <div class="mini-card">
      <span> AULAS DE MÚSICA </span>
      <div class="divimg">
        <img src="./../../../assets/icons/music.svg">
      </div>
    </div>
  </mat-card>
</div>
