.services-container{
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .examplecard {
    margin-top: 15vw;
    display: flex;
    justify-content: space-around;

    .mini-card {
      display: flex;
      justify-content: center;
      width: 300px;
      height: 300px;
      background-color: #006494;
      border-radius: 20px;

      span {
        margin: 180px 0 0 0;
        color: #fff;
      }

      .span-dev {
        display: flex;
        width: 190px;
        text-align: center;
        span {
          margin: 180px 0 0 0;
          color: #fff;
        }
      }

      .divimg {
        margin-top: 5%;
        display: flex;
        position: absolute;
        justify-content: center;

        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  @media only screen and (max-width: 780px) {
    .examplecard {
      margin-top: 120vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mini-card{
        width: 300px;
        height: 300px;
        margin-bottom: 5%;

        span {
          margin: 150px 0 0 0;
          color: #fff;
          font-size: larger;
        }

        .span-dev {
          display: flex;
          width: 220px;
          flex-direction: column;
          text-align: center;
          span {
            margin: 150px 0 0 0;
            color: #fff;
            font-size: larger;
          }
        }
        .divimg {
          margin-top: 10%;
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
